body{
    background-color: #181A1C;
}

/* START NAVBAR */

.navbar-custom{
    background-color: #181A1C;
}


.logo img{
    width: 120px;
}

.capitalize{
  text-transform:uppercase;
}

.navbar-hover .nav-item a:hover{
    border: 1px solid transparent;
}

.navbar-hover .nav-item a:hover{
border-color: #ffffff;
}


/* ---START CAROUSEL--- */

.bg-carousel{
    background-image:url(./media/Slider01.png);
}

.mx-slider{
    margin-left: 15%;
    margin-right: 15%;
}

.py-slider{
    padding-top: 10%;
    padding-bottom: 10%;
}

/* SERVICE */

.img-service{
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    transition: transform 0.3s ease-in-out;

}


.img-service:hover{
    transform: scale(1.1);
}


.border-bottom-line{
    border-bottom: 1px solid #ffffff;
}



.color-turquoise{
    color: #99CCCC;
}

.bg-alternate{
    background-color: #D1D7DB;
}


.bg-black{
    background-color: none;
}
-----------------------------------------------second navbar
/* Second nav link */

.capitalize{
text-transform:uppercase;
}


.navbar-hover .nav-item a:hover{
border-color:  #181A1C;
background-color: #181A1C;
}


.nav-link{
  color: white;
  border: 1px solid #181A1C;
  margin: 3px;
}


/* Works */

.overlay-animation{
    overflow: hidden;
}


.overlay-black{
    height: 100%;
    width: 100%;
    padding: 0 12px 12px;
    background-color: black;
    opacity: 0.65;
    top: 100%;
    transition: top 1s ease-in-out;
   
}


.overlay-animation:hover .overlay-black{
    top:0;
} 


.plus{
    width: 100%;
    top: -35px;
    z-index: 5;
    font-size: x-large;
    transition: top 1s ease-in-out;
}

.overlay-animation:hover .plus{
    top:30%;
}

/* Start team antonio*/

.team-container{
    overflow: hidden;

}


.caption-mask{
    top: 100%;
    transition: top 1s ease-in-out;
}


.team-container:hover .caption-mask{
top: 0;
opacity: 70%;
}


/* Skills e percentuali */

.progress-custom{
    height: 40px;
    border-radius: 0;
    
}

.progress-bar-custom{
background-color: #99CCCC;
color: #000000;
text-align: left;
font-size: 20px;
}

.button{
    border: 1px solid #000000;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

.button:hover{
    background-color: #000000;
    color: #ffffff;
}

/* Snippet prices */

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .card-header-custom{
    background-color: #181A1C;
    border-radius: 5px 5px 0 0;
  }

  .card-body-custom p{
    font-size: large;
  }

  .card-body-custom .price{
    font-size: xx-large;
    font-weight: 500;
  }


  .card-body-custom{
    color: #747C89;
  }

.bg-google-maps{
    background: url(./media/maps.PNG);
    background-position:100%;
}


  
  /* Hover Effects on Card */
  
   @media (min-width: 992px) {
    .pricing .card:hover { 
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  } 